@use "../../app/variables" as *;

.wrapper {
  background-color: $color-dark-gray-2;
  border-radius: $radius-md;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
  height: 200px;
  display: flex;
  column-gap: 31px;
}

.imageContainer {
  padding-left: 11px;
  padding-right: 11px;
  padding-top: 14px;
  width: 161px;
  height: 161px;
  padding-bottom: 14px;
  background-color: $color-black;
  border-radius: $radius-md;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $radius-md;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex: 1;

}

.title {
  font-family: $font-poppins;
  font-size: 18px;
  font-weight: 500;
  color: $color-white;
}

.description {
  font-family: $font-poppins;
  font-size: 12px;
  font-weight: 300;
  color: $color-light-gray;
  line-height: 12px;
  letter-spacing: 0%;
} 

.priceContainer {
  display: flex;
  align-items: center;
  column-gap: 10px;
  font-family: $font-poppins;
  font-size: 20px;
  font-weight: 600;
  color: $color-white;
  margin-top: 20px;
}

.counterContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 16px;
}