@use "../../app/variables" as *;
@use "sass:color";

.buttonContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.button {
  cursor: pointer;
  height: 66px;
  outline: none;
  border: none;
  font-family: $font-poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: none;
  position: relative;
  overflow: hidden;

  &:hover:not(:disabled) {
    scale: 1.01;
  }

  &:active:not(:disabled) {
    scale: 0.99;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.sizeSm {
  width: 120px;
}

.sizeMd {
  width: 200px;
}

.sizeLg {
  width: 300px;
}

.sizeFull {
  width: 100%;
}

.primary {
  background-color: $color-primary;
  color: $color-white;
  font-size: 16px;
  font-weight: 700;
  border-radius: $radius-md;
}

.secondary {
  background-color: $color-gray;
  color: $color-white;
  font-size: 16px;
  font-weight: 700;
  border-radius: $radius-md;

  &:hover:not(:disabled):not(.loading) {
    background-color: color.adjust($color-dark, $lightness: 5%);
  }
}

.withIcon {
  border-radius: $radius-full;
  gap: 8px;
  width: fit-content;
  height: fit-content;
  padding: 9px
}






