@import "../../app/variables";

.button {
  cursor: pointer;
  height: 81px;
  width: 100%;
  outline: none;
  border: none;
  font-family: $font-poppins;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  box-shadow: none;
  position: relative;
  overflow: hidden;

  &:hover:not(:disabled) {
    scale: 1.01;
  }

  &:active:not(:disabled) {
    scale: 0.99;
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    pointer-events: none;
  }
}

.primary {
  background-color: $color-primary;
  color: $color-white;
  font-size: 16px;
  font-weight: 700;
  border-radius: $radius-md;
}

.secondary {
  background-color: $color-dark;
  color: $color-white;
  font-size: 16px;
  font-weight: 700;
  border-radius: $radius-md;

  &:hover:not(:disabled):not(.loading) {
    background-color: lighten($color-dark, 5%);
  }
}






