.container {
  position: relative;
  width: 100%;
  height: 100%;
}

.skeletonWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hidden {
  opacity: 0;
}

