@use "../../app/variables" as *;
@use "sass:color";

.skeleton {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    $color-gray 25%,
    color.adjust($color-gray, $lightness: 5%) 50%,
    $color-gray 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: $radius-md;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

