@use "../../app/variables" as *;

.container {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 25px;
  overflow-y: auto;
  padding: 189px 136.5px;
}

.loadMoreContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 40px 136.5px;
}

.emptyStateContainer {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 189px 136.5px;
}

