@use "../../app/variables" as *;

.card {
  width: fit-content;
  background-color: $color-darker;
  border-radius: $radius-md;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  height: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
}


.imageContainer {
  width: 100%;
  height: fit-content;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-black;
  border-radius: $radius-md;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: $radius-md;
}

.title {
  font-family: $font-poppins;
  font-size: 18px;
  font-weight: 500;
  color: $color-white;
  line-height: 140%;
  letter-spacing: 0%;
}

.description {
  font-family: $font-poppins;
  font-size: 12px;
  font-weight: 300;
  color: $color-light-gray;
  line-height: 12px;
  letter-spacing: 0%;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  flex: 1;
}

.footer {
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.priceContainer {
  display: flex;
  column-gap: 10px;
  font-family: $font-poppins;
  font-size: 20px;
  font-weight: 600;
  color: $color-white;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 24px;
  text-transform: uppercase;
}