@use "../../app/variables" as *;
@use "sass:color";

.card {
  width: fit-content;
  background-color: $color-darker;
  border-radius: $radius-md;
  padding: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}

.imageContainer {
  width: 100%;
  height: fit-content;
  padding-left: 36px;
  padding-right: 36px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: $color-black;
  border-radius: $radius-md;
}

.imageSkeleton {
  width: 100%;
  height: 200px;
  background: linear-gradient(
    90deg,
    $color-gray 25%,
    color.adjust($color-gray, $lightness: 5%) 50%,
    $color-gray 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: $radius-md;
}

.infoContainer {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.titleSkeleton {
  width: 60%;
  height: 20px;
  background: linear-gradient(
    90deg,
    $color-gray 25%,
    color.adjust($color-gray, $lightness: 5%) 50%,
    $color-gray 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

.descriptionSkeleton {
  width: 100%;
  height: 12px;
  background: linear-gradient(
    90deg,
    $color-gray 25%,
    color.adjust($color-gray, $lightness: 5%) 50%,
    $color-gray 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;

  &:last-of-type {
    width: 80%;
  }
}

.priceContainer {
  display: flex;
  column-gap: 10px;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 24px;
}

.ethLogoSkeleton {
  width: 29px;
  height: 29px;
  background: linear-gradient(
    90deg,
    $color-gray 25%,
    color.adjust($color-gray, $lightness: 5%) 50%,
    $color-gray 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

.priceSkeleton {
  width: 80px;
  height: 20px;
  background: linear-gradient(
    90deg,
    $color-gray 25%,
    color.adjust($color-gray, $lightness: 5%) 50%,
    $color-gray 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: 4px;
}

.buttonSkeleton {
  width: 100%;
  height: 66px;
  background: linear-gradient(
    90deg,
    $color-gray 25%,
    color.adjust($color-gray, $lightness: 5%) 50%,
    $color-gray 75%
  );
  background-size: 200% 100%;
  animation: shimmer 1.5s infinite;
  border-radius: $radius-md;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

