$color-primary: #ff8310;
$color-dark: #232323;
$color-darker: #191a20;
$color-gray: #393939;
$color-light-gray: #cccccc;
$color-white: #ffffff;

$background: $color-dark;
$foreground: $color-darker;
$surface: $color-white;
$surface-dark: $color-dark;
$border: $color-light-gray;
$text-primary: $color-darker;
$text-secondary: $color-gray;
$text-light: $color-light-gray;
$accent: $color-primary;

$radius-md: 8px;

$font-poppins: "Poppins", sans-serif;
