@import "./variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  background: $background;
  color: $foreground;
  font-family: Arial, Helvetica, sans-serif;
}



