@use "../../app/variables" as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 100px;
  padding-left: 43px;
  padding-right: 43px;
  padding-top: 23.5px;
  padding-bottom: 23.5px;
  border-bottom: 1px solid rgba($color-white, 0.21);
}

.bag {
  display: flex;
  align-items: center;
  gap: 9px;
  background: none;
  border: none;
  font-family: $font-poppins;
  font-size: 20px;
  font-weight: 400;
  color: $color-white;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    scale: 1.05;
  }
}