@use "../../app/variables" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  padding: 80px 20px;
  text-align: center;
}

.title {
  font-family: $font-poppins;
  font-size: 24px;
  font-weight: 600;
  color: $color-white;
  margin: 0;
}

.description {
  font-family: $font-poppins;
  font-size: 16px;
  font-weight: 400;
  color: $color-light-gray;
  margin: 0;
  max-width: 400px;
}

